## Lists: Ordered, Mutable, Allows duplicate elements

In [1]:
mylist = ["Banana", "Cherry", "apple"]
print (mylist)

['Banana', 'Cherry', 'apple']

In [ ]:
item = mylist[0]  #Print Index
print (item)

Banana

In [3]:
if "apple" in mylist:
    print("Yes")
else:
    print ("No")

Yes

In [4]:
print (len(mylist))

3

In [ ]:
mylist.append("Lemon")
print (mylist)

['Banana', 'Cherry', 'apple', 'Lemon']

In [7]:
mylist.insert(1, "Blueberry")
print (mylist)

['Banana', 'Blueberry', 'Cherry', 'apple', 'Lemon']

In [ ]:
item = mylist.pop() #Remove the item form the end
print (item)
print (mylist)

Lemon
['Banana', 'Blueberry', 'Cherry', 'apple']

In [ ]:
item = mylist.remove("Blueberry") #Remove Specific item form the list
print (item)
print (mylist)

None
['Banana', 'Cherry', 'apple']

In [ ]:
item = mylist.reverse()  #Reverse the list
print (mylist)

['apple', 'Cherry', 'Banana']

In [14]:
numberslist = [1, 4, 5, 3, 2, -4, -2, 0, -3]
print (numberslist)

[1, 4, 5, 3, 2, -4, -2, 0, -3]

In [ ]:
numberslist.sort()    # In Acending order       
print (numberslist)

[-4, -3, -2, 0, 1, 2, 3, 4, 5]

### Slicing in Python

In [15]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a = num [1:5]
print (a)

[2, 3, 4, 5]

In [17]:
a = num [:5]
print (a)

[1, 2, 3, 4, 5]

In [19]:
a = num [2:]
print (a)

[3, 4, 5, 6, 7, 8, 9]

In [22]:
a = num [2:7:2]  #step Index
print (a)

[3, 5, 7]

### Tuple: Ordered, immutable, allows duplicate elements

In [23]:
mytuple = ("Max", 20, "Salman")
print (mytuple)

('Max', 20, 'Salman')

In [ ]:
print (type(mytuple))  # Print type

<class 'tuple'>

In [25]:
item = mytuple[0]
print (item)

Max

In [27]:
item = mytuple[2]
print (item)

Salman

In [28]:
item = mytuple[-2] #  Negative Index    
print (item)

20

In [29]:
for i in mytuple:
    print (i)

Max
20
Salman

In [ ]:
if "Salman" in mytuple:  # If Statement     
    print ("Yes")
else:
    print ("No")

Yes

In [32]:
if "Aamir" in mytuple:
    print ("Yes")
else: 
    print ("NO")

NO

In [ ]:
my_tuple = ("a", "p", "p", "l", "e")   # If we want to count items inside the tuple
print (len(my_tuple))

5

In [ ]:
print (my_tuple.index("l")) # Find item for the spcific index from tuple

3

In [ ]:
print (my_tuple.index("o"))  # If index not in tuple the error will accur

ValueError: tuple.index(x): x not in tuple

In [37]:
num_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

a = num_tuple[1:5]
print (a)

(2, 3, 4, 5)

In [38]:
a = num_tuple [2:7:2]
print (a)

(3, 5, 7)