## Asterisk Operator

In [1]:
result = 5 * 7
print (result)

35

In [ ]:
result = 2 ** 4      ## This is power operation
print (result)

16

In [3]:
zeros = (0, 1) * 10
print (zeros)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [4]:
def foo (a, b, *, c):
    print (a, b, c)

foo (1, 2, c=3)

1 2 3

In [5]:
def foo (a, b, c):
    print (a, b, c)

my_list = [0, 1, 2]    
foo (*my_list)

0 1 2

In [7]:
numbers = (1, 2, 3, 4, 5, 6)
*beginning, last = numbers
print (beginning)
print (last)

[1, 2, 3, 4, 5]
6

In [8]:
numbers = (1, 2, 3, 4, 5, 6)
beginning, *last = numbers
print (beginning)
print (last)

1
[2, 3, 4, 5, 6]

In [9]:
numbers = (1, 2, 3, 4, 5, 6)
beginning, *middle, last = numbers
print (beginning)
print (middle)
print (last)

1
[2, 3, 4, 5]
6

In [10]:
my_tuple = (1, 2, 3)
my_list = [4, 5, 6]

new_list = [*my_tuple, *my_list]
print (new_list)

[1, 2, 3, 4, 5, 6]