## Itertools: Product, permutations, combinations, accumulate, groupby, and infinite iterators

In [1]:
from itertools import product

a = [1, 2]
b = [3, 4]

prod = product(a, b)
print (list(prod))

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [2]:
from itertools import product                                                                 ## We cal also define a number of repetitions

a = [1, 2]
b = [3]
prod = product(a, b, repeat=2)
print (list(prod))

[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

In [4]:
from itertools import permutations

a = [1, 2, 3]
perm = permutations(a)
print (list(perm))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [5]:
from itertools import combinations
a = [1, 2, 3, 4]
comb = combinations(a, 2)
print (list(comb))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [7]:
from itertools import accumulate
a = [1, 2, 3, 4]
acc = accumulate(a)
print (a)
print(list(acc))

[1, 2, 3, 4]
[1, 3, 6, 10]

In [8]:
from itertools import accumulate
import operator
a = [1, 2, 3, 4]
acc = accumulate(a, func=operator.mul)
print (a)
print(list(acc))

[1, 2, 3, 4]
[1, 2, 6, 24]

In [9]:
from itertools import groupby
def smaller_than_3(x):
    return x < 3

a = [1, 2, 3, 4]
group_obj = groupby(a, key=smaller_than_3)
for key, value in group_obj:
    print (key, value)

True <itertools._grouper object at 0x0000023DAB8C3670>
False <itertools._grouper object at 0x0000023DAB6A6860>

In [10]:
from itertools import groupby
def smaller_than_3(x):
    return x < 3

a = [1, 2, 3, 4]
group_obj = groupby(a, key=smaller_than_3)
for key, value in group_obj:
    print (key, list(value))

True [1, 2]
False [3, 4]

In [11]:
from itertools import count, cycle, repeat
for i in count(10):
    print (i)
    if i == 15:
        break

10
11
12
13
14
15

In [12]:
from itertools import count, cycle, repeat

a = [1, 2, 3, 4]
for i in repeat (1, 4):
    print (i)

1
1
1
1

## Lambda arguments: expression

In [1]:
add10 = lambda x: x + 10
print (add10(5))

15

In [2]:
mult = lambda x,y: x*y
print (mult(2, 7))

14

In [3]:
points2D = [(1, 2), (15, 1), (5, -1), (10, 4)]
points2D_sorted = sorted (points2D)

print (points2D)
print (points2D_sorted)

[(1, 2), (15, 1), (5, -1), (10, 4)]
[(1, 2), (5, -1), (10, 4), (15, 1)]

In [4]:
a = [1, 2, 3, 4, 5]
c = [x*2 for x in a]
print (c)

[2, 4, 6, 8, 10]

In [7]:
a = [1, 2, 3, 4, 5, 6]
b = filter(lambda x: x%2==0, a)
print (list(b))

[2, 4, 6]

In [8]:
a = [1, 2, 3, 4, 5, 6]
c = [x for x in a if x%2==0]              ## It also give the same results
print (list(c))

[2, 4, 6]