### Dictionaries: Key value pairs, Unordered, Mutable

In [1]:
mydict = {"Name": "Salman", "age": "20", "City": "Lahore"}
print (mydict)

{'Name': 'Salman', 'age': '20', 'City': 'Lahore'}

In [3]:
value = mydict["Name"]
print (value)

Salman

In [ ]:
mydict["Mail"] = "info@gmail.com" # Add the key value pair
print (mydict)

{'Name': 'Salman', 'age': '20', 'City': 'Lahore', 'Mail': 'info@gmail.com'}

In [ ]:
mydict["Mail"] = "editor@gamil.com"  #If key already exist then got overwrite
print (mydict)

{'Name': 'Salman', 'age': '20', 'City': 'Lahore', 'Mail': 'editor@gamil.com'}

In [6]:
del mydict["Mail"] # Delete the key value pair
print (mydict)

{'Name': 'Salman', 'age': '20', 'City': 'Lahore'}

In [ ]:
mydict.pop("age")   # Similar like del function
print (mydict)

{'Name': 'Salman', 'City': 'Lahore'}

In [ ]:
if "Name" in mydict:              # iif statement 
    print ("Name")
else:
    print ("Not in dict")

Name

In [17]:
try:
    print (mydict["Name"])
except:
    print("Error")

Salman

In [ ]:
try:                                         # If key value pair is not in dict then we got error
    print (mydict["lastname"])
except:
    print ("Error")

Error

In [21]:
dict2 = {"name": "Hafiz", "age": "20", "city": "lahore"}
print (dict2)

{'name': 'Hafiz', 'age': '20', 'city': 'lahore'}

In [ ]:
for key in dict2:  # Print the key  
    print (key)

name
age
city

In [ ]:
for value in dict2.values():  # Print the value
    print (value)

Hafiz
20
lahore

In [ ]:
for key, value in dict2.items():   # Print Both Key and value
    print (key, value)

name Hafiz
age 20
city lahore

### Sets: unordered, mutable, no duplicates

In [1]:
myset = {1, 2, 3, 4, 5}
print (myset)

{1, 2, 3, 4, 5}

In [ ]:
myset = {1, 2, 3, 4, 5, 1, 3, 5, 2}             # Set does not allow duplicates
print (myset)

{1, 2, 3, 4, 5}

In [3]:
set1 = set()
set1.add(1)
set1.add(2)
set1.add(3)
print (set1)

{1, 2, 3}

In [4]:
set1.remove(1)
print (set1)

{2, 3}

In [ ]:
if 2 in set1:                   # If statement
    print ("Yes")
else:
    print ("No")

Yes

In [8]:
if 1 in set1:
    print ("Yes")
else:
    print ("No")

No

In [ ]:
odds = {1, 3, 5, 7, 9}                    
evens = {0, 2, 4, 6, 8}
primes = {2, 3, 5, 7}

u = odds.union(evens)
print (u)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
i = odds.intersection(evens)
print (i)

set()

In [11]:
i = odds.intersection(primes)
print (i)

{3, 5, 7}

In [12]:
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

diff = setA.difference(setB)
print (diff)

{4, 5, 6, 7, 8, 9}

In [13]:
diff = setB.difference(setA)
print (diff)

{10, 11, 12}

In [14]:
setA.update(setB)
print(setA)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}